<div class="background-5">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="font-title"> ABOUT OF THE FOOTBALL </h1>
      </div>
    </div>
   </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
        <h1> </h1>
    </div>
  </div>
 </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Pengertian Forum adalah wadah atau tempat pertemuan sebuah komunitas yang memiliki persamaan minat
          dan tujuan untuk bertukar pikiran suatu topik atau masalah secara bebas yang berkaitan dengan forum tersebut.
        </p>
      </div>
      <div class="col-lg-4 ">
        <p>Seiring perkembangan teknologi, banyak forum yang menggunakan internet sebagai media komunikasi atau yang lebih dikenal sebagai pengertian forum online (internet). Forum diskusi online anggota dapat meninggalkan pesan atau mendiskusikan topik tertentu dengan anggota lainnya pada waktu yang sama dengan
          lokasi yang berbeda tanpa harus datang ke suatu tempat tertentu.
        </p>
    </div>

   </div>
  </div>
</div>
