
<div class="row">
  <div class="col-lg-4 col-lg-offset-2">
    <h1 class="white shadowed text-center">
      Reset Password
    </h1>
    <div class="form-group">
      <%= form_for(:reset, url: password_resets_path, method: :post, html: { id: "user-reset-password-form" }) do |f| %>
      <h4> <%= f.label :email_field, "Email", class: "white shadowed" %> </h4>
      <%= f.email_field :email, required: true,  id: 'user_email_field', class: 'form-control' %>
      <%= f.submit "Reset my password!", class: "btn btn-primary btn-lg" %>
      </div>
      <% end %>
  </div>
</div>
