.background {
    height: calc(100vh - 52px);
  }
.background-1 {
  background-image: asset-url("f.png");
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-2{
  background-image: asset-url("FRAME.png");
  //background-color: #18BC9C;
  height: 70vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.background-3{

  background-color: #a2eafa;
  height: 30vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-4{

  height: 50vh;

}
.features {

    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
  }
.feature {
   flex: 0 0 280px;
   margin: 20px 10px;
 }

 .font-title{
   color: #fff;
 }
 .position:relative:hover .invisible-layout {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }

    .invisible-layout {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      display: flex;
      justify-content: center;
      background-color: yellow;
      align-items: center;
    }
    .landing {

    }

  @media all and (max-width: 1199px) {
       .features {
         max-width: 600px;
       }
     }
     .navbar-header{
       float: left;
     }
     .short-underline {
       width: 50px;
       border-bottom: 2px solid orange;
     }
     .fadeOut {
        opacity: 0;
        transition: opacity 5s ease-in-out;
      }
