<div class="background-1">
  <div class="content">
    <h1> </h1>
    <h1 class="font-title"> Welcome to My Forums </h1>
  </div>
</div>
<div class="background-2">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
    <h3> My FORUM </h3>

      </div>
    </div>
   </div>
</div>
<section class="features">
    <div class="feature text-center">
      <%= fa_icon 'book 5x' %>
      <h4> A Global Community</h4>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
  </section>

  <div class="landing">

   </div>
