<div class="background-1">
  <div class="content">
    <h1> </h1>
    <h1 class="font-title"> Forum of FootBall </h1>
  </div>
</div>
<div class="background-2">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
        <h1 class="font-title"> Chat of FootBall </h1>
      </div>
    </div>
   </div>
</div>

      <section class="features">
          <div class="feature text-center">
            <%= image_tag("bola sepak.png") %>
            <h4> Player / Team </h4>
          </div>
          <div class="feature text-center">
      <%= image_tag("piala.png") %>
      <h4> Trophy</h4>
    </div>
    <div class="feature text-center">
      <%= image_tag("stadium.png") %>
      <h4> Stadium</h4>
    </div>
  </section>
  <div class="landing">

   </div>
