<div class="background-1">
  <div class="content">
    <h1 class="font-title"> Welcome to My Forums </h1>
  </div>
</div>
<div class="background-2">
  <div class="content">
    <h3> A Forum for people like you and me </h3>
  </div>
</div>
<section class="features">
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
    <div class="feature text-center">
      <%= fa_icon 'globe 5x' %>
      <h4> A Global Community</h4>
    </div>
  </section>

  <div class="landing">
     // Your landing page html in here
   </div>
