<div class="background-1">
  <div class="content">
    <h1> </h1>
    <h1 class="font-title"> Forum Bola Sepak </h1>
  </div>
</div>
<div class="background-2">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
    <h3> My FORUM </h3>

      </div>
    </div>
   </div>
</div>
<section class="features">
    <div class="feature text-center">
      <%= image_tag("bola sepak.png") %>
      <h4> Sejarah Bola Sepak</h4>
    </div>
    <div class="feature text-center">
      <%= image_tag("piala.png") %>
      <h4> Piala</h4>
    </div>
    <div class="feature text-center">
      <%= image_tag("stadium.png") %>
      <h4> Stadium</h4>
    </div>
    <div class="feature text-center">
      <%= image_tag("pasukan.png") %>
      <h4> Pemain / Pasukan </h4>
    </div>
  </section>

  <div class="landing">

   </div>
