
 <div class="container">
   <div class="row">
     <div class="col-lg-12 text-center">
       <h1>Topics To Discuss</h1>
     </div>
    </div>
  </div>
</div>

     <div class="row">
       <div class="col-lg-4 col-lg-offset-2">
 <p> <% @topics.each do |topic| %> </p>
      <div class="topic">
        <div class="row">
        <div class="col-lg-4">
        <p>
    </div>
    <div>
      <h3><%= topic.title %></h3>
      <div>
      <h5><%= topic.description %></h5>
      
    </p>
  </div>


     </div>
    </div>
   </div>

  <% end %>
